<footer class="footer navbar-default">
    <section class="col-md-4">
        <h2>Contacts</h2>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd class="name">{{site.title}}</dd>
            <dt>Mail</dt>
            <dd><a class="mail" href="mailto:{{site.org.email}}">{{site.org.email}}</a></dd>
            <dt>Address</dt>
            <dd>{{site.org.address.place}}</dd>
        </dl>
    </section>
    <section class="col-md-4">
        <h1>links</h1>
        {% assign links=site.data.link %%}
        <ul class="list-unstyled">
            {% for link in links %}
            <li><a class="website" href="{{link.url}}">{{link.name}}</a></li>
         {%endfor%}
        </ul>
    </section>
    <section class="col-md-4" itemscope="http://schema.org/Person">
        {% assign developer=site.data.developer %}
        <h1>Developed By:</h1>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd><span class="name" itemprop="first">{{developer.name.first}} </span><span itemprop="familyName">{{developer.name.last}}</span></dd>
            <dt>Website</dt>
            <dd><a class="website" href="{{developer.website}}" itemprop="url">{{developer.website}}</a></dd>
            <dt>Mail</dt>
            <dd><a class="mail" href="mailto:{{ developer.mail }}" itemprop="email">{{ developer.mail }}</a></dd>
            {% if developer.github %}
            <dt>Github</dt>
            <dd>
            <a href="https://github.com/{{ developer.github }}" itemprop="url">
                <span class="github username">{{ developer.github }}</span>
            </a>
            </dd>
            {% endif %}
            {% if developer.twitter %}<dt>Twitter</dt>
            <dd>
                <a href="https://twitter.com/{{ developer.twitter }}" itemprop="url">
                    <span class="twitter username">{{ developer.twitter }}</span>
                </a>
            </dd>
            {% endif %}
        </dl>
        </section>
</div>
