<div class="jumbotorn container">
    <h1>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </h1>
    <p>
        {% if page.title %}{{ page.description }}</p>{% else %}{{ site.description }}
        </p>
        <a class="btn btn-primary" href="/forms/membership"> Apply for the membership</a>
        <a class="btn btn-primary facebook" href="{{site.org.facebook.group}}"> Facebook Group </a>
        <a class="btn btn-primary facebook" href="{{site.org.facebook.page}}"> Facebook Page </a>
        <a class="btn btn-primary sub" href="/feed.rsv"> Subscribe</a>
        {% endif %}

</div>
