---
layout: default
---

<article class="panel panel-default" itemscope itemtype="http://schema.org/Event">
    <section class="panel-heading">
        {% include jumbotron.html %}
    </section>
    <div class="panel-body">
        {{ content }}
      <section>
          <dl class="dl-horizontal">
              <dt>Time:</dt><dd><time date="{{page.date}}" itemprop="startDate">{{page.date}}</time></dd>
              <dt>Venue:</dt><dd><span itemprop="location">{{page.venue}}</span></dd>
              <dt>Organizer:</dt><dd><span itemprop="organizer">{% if page.organizer %}{{page.organizer}}{%else%}{{site.org.name}}{%endif%}
          </dl>
      </section>
    </div>
    {%if page.join%}
      <div class="panel-footer">
          <a href="{{page.join}}" class="btn btn-default btn-primary">Join</a>
      </div>
      {%endif%%}
  </article>
